.bottom-container a {
  color: #11999e;
}

.container--moon {
  position: absolute;
  top: 50px;
  left: 200px;
}

.container--clouds-top {
  position: absolute;
  right: 300px;
  top: 50px;
}

.container--clouds-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/* color palette #4a4e4d • #0e9aa7 • #3da4ab • #f6cd61 • #fe8a71 */
